.graphUIcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
.svg {
  width: 100%;
  height: 100%;
  /* background-image: radial-gradient(black 1.5px, transparent 0); */
  /* 以圓心為中心，畫一個1px黑色的圈圈，剩下都透明 */
  /* background-size: 20px 20px; */
  /* gridSize */
  /* background-position: -10px -10px; */
  /* 50% of gridSize，這樣線段才會跟點點對齊 */
  background-color: #333333;
  /* display: block; */
}
/* .svg g[data-type="vertex"] circle {
  transition: all 0.25s;
}
.svg g[data-type="vertex"]:hover circle {
  r: 60;
  stroke-width: 10;
} */
