.graphUIcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.graphSVG {
  width: 100%;
  height: 100%;
  background-color: #333333;
}
.graphSVG > g[data-should-transition="true"] {
  transition: transform 0.5s;
}
