.container {
  height: 100%;
  animation: slideUp 1s;
}
.nameArea {
  width: 35%;
  height: 20%;
  margin-left: 5%;
  border-radius: 9999px;
  border: 0.2rem outset var(--border-color);
  background-color: var(--bg-color);
  position: relative;
  /* top: 7.5%; */
  transform: translateY(50%);
  z-index: 1;
}
.name {
  height: 100%;
  font-weight: bold;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messageArea {
  width: 95%;
  height: 75%;
  margin: auto;
  flex-direction: column;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  border: 0.2rem outset var(--border-color);
  background-color: var(--bg-color);
}
.message {
  position: relative;
  font-size: 3rem;
}
.message::after {
  content: "";
  color: var(--bg-color);
  background-color: var(--bg-color);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fadeIn::after {
  animation: fadeIn 0.1s linear 0s 1 alternate forwards;
}
.confirmDialogContainer {
  background-color: var(--bg-color);
  border: 0.2rem outset var(--border-color);
  border-radius: 1.5rem;
  position: absolute;
  top: 10%;
  right: -2%;
  height: 80%;
  width: 22.5%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  animation: slideLeft 1s;
}
.confirmDialogSlideOut {
  transform: translateX(150%);
  transition: transform 0.5s;
}
.containerSlideOut {
  transform: translateY(100%);
  transition: transform 0.5s;
}
/*
這邊有一個比較tricky的地方
首先，z-index的作用，應該是要在元素們處於同一個position才有效果
所以我把before跟btnText都設定為absolute
但這樣會導致btn內的元素都已經跳脫定位，btn內沒有元素，height = 0
所以這邊我把btn的height設定為2.5rem，讓元素自動撐開
*/
.confirmDialogBtn {
  width: 80%;
  height: 3rem;
  margin: 0% 10%;
  position: relative;
}
.confirmDialogBtnText {
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  border-radius: 0.15rem;
}
.confirmDialogBtn::before {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 40%;
  background-color: var(--sub-bg-color);
  z-index: 0;
}
.confirmDialogBtnHoverEffect {
  animation: confirmDialogBtnHoverFrom 500ms, confirmDialogBtnHoverTo 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes confirmDialogBtnHoverFrom {
  0% {
    background-color: var(--hover-bg-color);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes confirmDialogBtnHoverTo {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--hover-bg-color);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: none;
  }
}
@keyframes fadeIn {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slideDown {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(100%);
  }
}
