.container {
    width: 80%;
    height: 80%;
    margin: auto;
    flex-direction: column;
    animation: slideIn 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leave {
    animation: slideOut 1s;
}
.btn {
    width: 75%;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 3rem;
    border-radius: 9999px;
    border: 0.2rem outset var(--border-color);
    background-color: var(--bg-color);
}
.imgContainer {
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
}
.img {
    width: 3rem;
    height: 3rem;
}
@keyframes slideIn {
    0% { transform: translateX(100%) }
    100% { transform: none }
}
@keyframes slideOut {
    0% { transform: none }
    100% { transform: translateX(200%) }
}