.container {
    width: 95%;
    margin: 0 2.5%;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    background-color: black;
}
.line {
    border-bottom: 0.5vh solid black;
    width: calc(100% - 2vh);
}