.container {
    width: 55%;
    height: 100%;
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    width: min(calc(var(--vw) * 100 / 12 * 7 * 0.8 * 0.55), calc(var(--vh) * 65 * 0.8));
}
.fadeIn {
    animation: fadeIn 1s;
}
.fadeOut {
    animation: fadeOut 1s;
}
.fade {
    animation: fadeOut 1s, fadeIn 1s;
}
@keyframes fade {
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}