.hoverEffect {
    animation: btnHoverFrom 500ms, btnHoverTo 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes btnHoverFrom {
    0% { background-color: #9bd65b }
    100% { background-color: #fee59a }
}
@keyframes btnHoverTo {
    0% { background-color: #fee59a }
    100% { background-color: #9bd65b }
}