.dataContainer {
  --button-group-width: 16%;
  --level1-button-bg-color: #e9a23b;
  --level2-button-bg-color: #facc34;
  /* 多1px讓右邊有延伸感 */
  width: calc(100% + var(--button-group-width) + 1px);
  height: 100%;
  transform: translateY(-100%);
  display: flex;
  margin-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  overflow: hidden;
  transition: transform 0.25s;
}
.dataContainer[data-slide-left="true"] {
  transform: translate(calc(var(--button-group-width) * -1), -100%);
}
.level0ButtonGroup {
  width: var(--button-group-width);
}
.level0Button {
  font-size: 3rem;
  line-height: 3rem;
  border-radius: 9999px 0% 0% 9999px;
  border-bottom: 0.25rem solid black;
  text-align: center;
  background-color: var(--level1-button-bg-color);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.level0Button[data-selected="true"] > div {
  animation: level0ButtonHoverFrom 500ms, level0ButtonHoverTo 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.rightContainer {
  width: 100%;
  height: 100%;
  background-color: var(--level1-button-bg-color);
  display: flex;
  flex-direction: column;
}
.rightTop {
  /* margin-top: 0.5rem; */
  margin-left: 1rem;
  position: relative;
  padding-left: 7%;
  font-size: 1.75rem;
  line-height: 2rem;
  color: white;
  -webkit-text-stroke: 0.1rem black;
}
/* .rightTop::before {
  height: 50%;
  width: 100%;
  border-top: 0.25rem solid black;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 3%;
  z-index: 1;
} */
.rightBottom {
  display: flex;
  flex-grow: 1;
  min-height: 1px;
  padding-bottom: 2.5%;
}
.rightBottomButtonGroup {
  width: var(--button-group-width);
}
.level1Button {
  font-size: 3rem;
  line-height: 3rem;
  border-radius: 9999px 0% 0% 9999px;
  border-bottom: 0.25rem solid var(--bg-color);
  border-left: 0.25rem solid black;
  border-top: 0.25rem solid black;
  text-align: center;
  background-color: var(--level2-button-bg-color);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.level1Button[data-selected="true"] {
  background-color: var(--bg-color);
  border-top: none;
  border-left: none;
}
.level1Button[data-hovered="true"] > div {
  animation: level2ButtonHoverFrom 500ms, level2ButtonHoverTo 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.variableContent {
  width: calc(100% - var(--button-group-width));
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 0px 0px 0px 1.5rem;
  border-bottom: 0.2rem solid black;
}
.strengthContainer {
  --variable-content-padding: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 3fr;
  padding: var(--variable-content-padding);
  gap: 2rem;
  position: relative;
}
.strengthTop {
  width: 100%;
  height: 40%;
  display: flex;
  gap: 2rem;
}
.playerImageAndRanking {
  /* grid item預設min-width跟min-height都是auto */
  min-width: 0;
  min-height: 0;
  height: 90%;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
}
.playerImageContainer {
  height: 90%;
}
.playerImageContainer > img {
  width: 100%;
  height: 100%;
}
.ranking {
  height: 10%;
  display: flex;
  color: white;
  align-items: flex-end;
  justify-content: center;
}
.ranking div {
  font-size: 2rem;
  -webkit-text-stroke: 0.1rem black;
}
.ranking span {
  font-size: 3.5rem;
  line-height: 3.5rem;
  padding-left: 0.5rem;
  -webkit-text-stroke: 0.15rem black;
}
.basicAttrsArea {
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1.5fr 1.5fr 1fr;
  gap: 1rem;
  padding: 1rem 1.5rem;
}
.xyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.levelBox {
  grid-column-start: 1;
  grid-column-end: 2;
}
.nameBox {
  grid-column-start: 2;
  grid-column-end: 6;
  flex-direction: column;
}
.nameTitle {
  color: white;
  font-size: 1.75rem;
  line-height: 1.75rem;
  -webkit-text-stroke: 0.05rem black;
}
.playerName {
  font-size: 2rem;
}
.attackBox {
  grid-column-start: 1;
  grid-column-end: 2;
}
.defenseBox {
  grid-column-start: 2;
  grid-column-end: 3;
}
.magicBox {
  grid-column-start: 3;
  grid-column-end: 4;
}
.speedBox {
  grid-column-start: 4;
  grid-column-end: 5;
}
.hpBox {
  grid-column-start: 5;
  grid-column-end: 8;
}
.strengthBottomRight {
  grid-column-start: 2;
  grid-column-end: 3;
}
/* .strengthBottom {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */
.expArea {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1rem 0;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  display: flex;
}
.expAreaLeft {
  font-size: 3rem;
  width: 30%;
  text-align: center;
  padding-top: 1rem;
}
.expAreaRight {
  width: 65%;
}
.numberTitle {
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
  -webkit-text-stroke: 0.1rem black;
}
.expTextWithBorderBottom {
  font-size: 3rem;
  text-align: right;
}
.expTextarea {
  flex-grow: 1;
  font-size: 3rem;
  line-height: 3rem;
}
.expTextarea > span {
  font-size: 2rem;
}
.jobAndPayArea {
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  display: flex;
  gap: 1rem;
  padding: 1rem 5%;
}
.jobArea {
  width: 50%;
}
.payArea {
  width: 50%;
}
.jobAndPayText {
  font-size: 2rem;
  line-height: 2rem;
  color: white;
  -webkit-text-stroke: 0.1rem black;
}
.jobAndPayText > span {
  padding-left: 1rem;
}
.jobText {
  font-size: 3rem;
  line-height: 3.25rem;
}
.weaponName,
.shieldName {
  font-size: 3rem;
  line-height: 3.25rem;
}
.moneyText {
  font-size: 3rem;
  line-height: 3.25rem;
  flex-grow: 1;
  text-align: right;
}
.moneyText::after {
  content: "Ð";
  margin-right: 2rem;
}
.equipmentArea {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 1rem 0.5rem;
}
.equipmentRow {
  height: 20%;
}
.equipmentIconAndName {
  flex-grow: 1;
  height: 100%;
  font-size: 3rem;
}
.attrCircleArea {
  width: 8%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}
.equipmentNumber {
  width: 22%;
  height: 100%;
  color: white;
  font-size: 2rem;
  -webkit-text-stroke: 0.1rem black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bagArea {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  display: flex;
  gap: 1rem;
}
.bagInfo {
  width: 18%;
}
.bagName {
  font-size: 2rem;
  text-align: center;
}
.bagSpace {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  -webkit-text-stroke: 0.1rem black;
}
.bagItems {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.bagItem {
  width: 50%;
  height: calc(100% / 6);
}
.bagPaginationContainer {
  position: absolute;
  top: calc(var(--variable-content-padding) / 2);
  right: 6.5%;
  width: 18%;
}
.assetsArea {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--sub-bg-color);
  border-radius: 1.5rem;
  font-size: 3rem;
  line-height: 3rem;
  padding: 0.5rem 0;
}
.assetRow {
  height: 25%;
}
.assetsTotalArea {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--sub-bg-color);
  border-radius: 1.5rem;
  font-size: 3rem;
  line-height: 3rem;
  padding: 0.5rem 0;
}
.assetsTitle {
  flex-grow: 1;
}
.assetNumberAndUnit {
  letter-spacing: 0.25rem;
}
.assetNumberAndUnit::after {
  content: "Ð";
  margin-right: 2rem;
}
.redText {
  color: red;
}
.villagesDialog {
  border: none;
}
.dataRankContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
}
.playerRankArea {
  height: 25%;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  position: relative;
}
.rankNumber {
  position: absolute;
  left: 1rem;
  font-size: 5rem;
  line-height: 5rem;
  color: var(--bg-color);
  -webkit-text-stroke: 0.1rem black;
}
.rankLeft {
  font-size: 3rem;
  line-height: 3rem;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.playerColorIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.rankRightTop {
  grid-column-start: 2;
  font-size: 3rem;
}
.rankRightTopText {
  flex-grow: 1;
  text-align: right;
}
.rankRightTopText::after {
  content: "Ð";
  margin-left: 0.5rem;
}
.rankRightBottom {
  grid-column-start: 2;
  font-size: 2.5rem;
}
.rankRightBottomText1 {
  flex-grow: 1;
}
.rankRightBottomText2::after {
  content: "Ð";
  margin-left: 0.25rem;
}
.listItem {
  height: 10%;
  margin: 0;
  font-size: 3rem;
  line-height: 3rem;
}
.listLeftArea {
  width: 10%;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.1rem black;
}
.listCenterArea {
  width: 70%;
}
.listRightArea {
  width: 20%;
}
.listWeaponAT,
.listShieldDF {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  background-color: black;
  border-radius: 50%;
  color: white;
  margin-right: 3rem;
}
.flex {
  display: flex;
}
.listJobColor {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 3rem;
  vertical-align: bottom;
}
.listWeaponIcon,
.listShieldIcon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: black;
  vertical-align: bottom;
}
.listJobMaster {
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 0.1rem black;
}
.listGridViewContainer {
  padding: 2rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(10, 1fr);
  column-gap: 2rem;
  row-gap: 1.5rem;
}
.listGridViewContainer .topLeftGridItem {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  min-width: 0px;
  min-height: 0px;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
}
.listGridViewContainer .topRightGridItem {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 2rem 1rem;
}
.topRightGridItem .line1 {
  display: flex;
  height: 50%;
  align-items: center;
}
.monsterName {
  width: 70%;
  font-size: 3rem;
  line-height: 3rem;
}
.topRightGridItem .line2 {
  display: flex;
  height: 50%;
  justify-content: space-between;
}
.monsterHpBar {
  width: 30%;
}
.whiteText {
  font-size: 2rem;
  line-height: 2rem;
  color: white;
  -webkit-text-stroke: 0.1rem black;
}
.topRightGridItem .textWithBorderBottom {
  width: 80%;
  margin: 0 auto;
}
.textWithBorderBottom[data-show="false"] {
  display: none;
}
.levelUpPointArea {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  gap: 1rem;
}
.levelUpPointArea > * {
  width: 15%;
}
.bagSpaceArea {
  display: flex;
  font-size: 3rem;
  line-height: 3rem;
}
.bagSpaceArea > :nth-child(3) {
  margin-left: 2rem;
}
.bagSpaceArea > span {
  color: white;
  -webkit-text-stroke: 0.1rem black;
}
.listGridViewContainer[data-theme="job"] .bottomRightGridItem {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 11;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 2rem 1rem;
}
.listGridViewContainer[data-theme="monster"] .centerRightGridItem {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 8;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 2rem 1rem;
  font-size: 3rem;
  line-height: 4rem;
}
.listGridViewContainer[data-theme="monster"] .centerRightGridItem > div {
  display: flex;
  align-items: center;
  width: 100%;
}
.monsterSpecialty:empty,
.monsterMagicAttack:empty,
.monsterMagicDefense:empty {
  width: 30%;
  border-top: 0.5rem solid red;
}
.listGridViewContainer[data-theme="monster"] .bottomRightGridItem {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 11;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 2rem 1rem;
}
.listGridViewContainer[data-theme="weapon"] .centerRightGridItem,
.listGridViewContainer[data-theme="shield"] .centerRightGridItem,
.listGridViewContainer[data-theme="accessory"] .centerRightGridItem {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 2rem 1rem;
  display: flex;
  font-size: 2rem;
}
.listGridViewContainer[data-theme="weapon"] .bottomRightGridItem,
.listGridViewContainer[data-theme="shield"] .bottomRightGridItem,
.listGridViewContainer[data-theme="accessory"] .bottomRightGridItem {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 11;
  border-radius: 1.5rem;
  background-color: var(--sub-bg-color);
  padding: 2rem 1rem;
}
.attrsGroup {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  -webkit-text-stroke: 0.1rem black;
}
.jobExplanation,
.weaponExplanation,
.shieldExplanation {
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 3rem;
  line-height: 3.25rem;
}
.jobExplanation[data-show="false"] {
  display: none;
}
.battleSpecialty {
  font-size: 2.5rem;
  line-height: 2.75rem;
}
.battleSpecialty > div:first-child {
  font-size: 3rem;
  line-height: 3.25rem;
}
.battleSpecialty[data-show="false"] {
  display: none;
}
.fieldSpecialty {
  font-size: 2.5rem;
  line-height: 2.75rem;
}
.fieldSpecialty > div:first-child {
  font-size: 3rem;
  line-height: 3.25rem;
}
.fieldSpecialty[data-show="false"] {
  display: none;
}
.levelCirlce {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0 0.5rem;
  border-radius: 50%;
}
.monsterLevel {
  flex-grow: 1;
  font-size: 3rem;
  text-align: right;
  padding-right: 1rem;
}
.monsterExplanation {
  font-size: 3rem;
  line-height: 3.25rem;
}
@keyframes level0ButtonHoverFrom {
  0% {
    background-color: var(--hover-bg-color);
  }
  100% {
    background-color: var(--level1-button-bg-color);
  }
}
@keyframes level0ButtonHoverTo {
  0% {
    background-color: var(--level1-button-bg-color);
  }
  100% {
    background-color: var(--hover-bg-color);
  }
}
@keyframes level2ButtonHoverFrom {
  0% {
    background-color: var(--hover-bg-color);
  }
  100% {
    background-color: var(--bg-color);
  }
}
@keyframes level2ButtonHoverTo {
  0% {
    background-color: var(--bg-color);
  }
  100% {
    background-color: var(--hover-bg-color);
  }
}
