.bagContainer {
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}
.topArea {
  width: 100%;
  height: 15%;
}
.swiperContainer {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.swiper {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 3rem;
  display: flex;
  border: 0.2rem outset var(--border-color);
  border-radius: 9999px;
  font-size: 3rem;
  line-height: 4rem;
  background-color: var(--bg-color);
}
.swiperText {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.square {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: black;
  color: white;
}
.centerArea {
  width: 100%;
  height: 55%;
}
.itemAndMagicContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.itemContainer {
  position: absolute;
  top: 6%;
  left: 6%;
  font-size: 3rem;
  line-height: 3rem;
  background-color: var(--bg-color);
  border: 0.2rem outset var(--border-color);
  border-radius: 1.5rem;
  width: 85%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.itemAndMagicContainer .listItem {
  width: 49%;
  margin-right: 1%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.iconContainer {
  width: 3rem;
  height: 3rem;
  border: 0.2rem outset var(--border-color);
}
.itemText {
  padding-left: 0.5rem;
  flex-grow: 1;
}
.magicContainer {
  position: absolute;
  top: 3%;
  left: 9%;
  font-size: 3rem;
  line-height: 3rem;
  background-color: var(--bg-color);
  border: 0.2rem outset var(--border-color);
  border-radius: 1.5rem;
  width: 85%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.bottomArea {
  width: 100%;
  height: 30%;
  /* transform: translateY(100%); */
}
.messageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.messageArea {
  width: 95%;
  height: 95%;
  background-color: var(--bg-color);
  border-radius: 1.5rem;
  border: 0.2rem outset var(--border-color);
}
.confirmDialog {
  position: absolute;
  width: 20%;
  height: 80%;
  right: 0%;
  transform: translateX(100%);
  transition: transform 0.5s;
  background-color: var(--bg-color);
  border-radius: 1.5rem;
  border: 0.2rem outset var(--border-color);
}
