.swapCardContainer {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.bottomArea {
  height: 35%;
  position: relative;
  display: flex;
}
.card1Container {
  width: 50%;
  text-align: center;
}
.direction4 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
}
.directionTop {
  grid-column-start: 2;
}
.directionLeft {
  grid-row-start: 2;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes twinkle {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
.directionRight {
  grid-row-start: 2;
  grid-column-start: 3;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
.directionBottom {
  grid-row-start: 3;
  grid-column-start: 2;
}
.directionTop,
.directionBottom,
.directionLeft,
.directionRight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  line-height: 5rem;
}
.card2Container {
  width: 50%;
  text-align: center;
}
.card {
  width: 30%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.cardFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.3rem solid brown;
  box-shadow: 0 0 0 0.5rem white;
  background-color: var(--bg-color);
  border-radius: 1.5rem;
  backface-visibility: hidden;
}
.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.3rem solid brown;
  box-shadow: 0 0 0 0.5rem white;
  background-color: var(--bg-color);
  border-radius: 1.5rem;
  backface-visibility: hidden;
  font-size: 8rem;
  line-height: 7.5rem;
  display: flex;
  align-items: center;
  transform: rotateY(180deg);
  color: #1d418f;
}
.cardBack[data-first="true"] {
  color: #840c0c;
}
.card[data-opened="true"] {
  transform: rotateY(180deg);
}
.card1Container,
.card2Container {
  transition: transform 0.2s;
}
.card1Container[data-switched="true"] {
  transform: translateX(100%);
}
.card2Container[data-switched="true"] {
  transform: translateX(-100%);
}
