.btnGroup {
    width: 80%;
    height: 80%;
    margin: auto;
    
    animation: slideLeft 1s;
}
.btn {
    width: 80%;
    height: 15%;
    display: flex;
    padding-left: 5%;
    align-items: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.btnText {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
}
.genderBlock {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.imgContainer {
    width: min(20vw, 41.6vh);
}
.darkenImg {
    filter: brightness(70%);
}
.leave {
    animation: slideRight 1s;
}
@keyframes slideLeft {
    0% { transform: translateX(100%) }
    100% { transform: none }
}
@keyframes slideRight {
    0% { transform: none }
    100% { transform: translateX(150%) }
}