.btnGroup {
    width: 80%;
    height: 80%;
    margin: auto;
    animation: slideLeft 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    width: 80%;
    height: 15%;
    display: flex;
    padding-left: 5%;
    align-items: center;
    font-size: 3rem;
    border-radius: 9999px;
    border: 0.2rem outset var(--border-color);
    background-color: var(--bg-color);
}
.btn > img {
    width: 3rem;
    height: 3rem;
}
.btnText {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
}
.genderBlock {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.genderBlock > img {
    /* 100 / 12 * 7 * 0.8 * 0.5 = 23.33 */
    /* 100 * 0.65 * 0.8 = 52 */
    width: min(var(--vw) * 23.33, var(--vh) * 52);
}
.darkenImg {
    filter: brightness(70%);
}
.leave {
    animation: slideRight 1s;
}
@keyframes slideLeft {
    0% { transform: translateX(100%) }
    100% { transform: none }
}
@keyframes slideRight {
    0% { transform: none }
    100% { transform: translateX(150%) }
}