.fieldCheckContainer {
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
}
.topArea {
  width: 100%;
  height: 70%;
}
.bottomArea {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.5s;
}
.messageContainer {
  width: 95%;
  height: 80%;
  background-color: var(--bg-color);
  border: 0.2rem outset var(--border-color);
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  /* line-height: 3rem; */
}
.bottomAreaEntered {
  transform: none;
}
