.container {
    height: 100%;
    animation: slideUp 1s;
}
.nameArea {
    width: 35%;
    height: 20%;
    margin-left: 5%;
    border-radius: 30px;
    border: 3px outset #222222;
    background-color: #fee59a;
    position: relative;
    top: 7.5%;
    z-index: 1;
}
.name {
    height: 100%;
    font-weight: bold;
    font-size: 2rem;
}
.messageArea {
    width: 95%;
    height: 75%;
    margin-left: 2.5%;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
.message {
    position: relative;
}
.message::after {
    content: '';
    color: #fee59a;
    background-color: #fee59a;
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    line-height: 2.5rem;
}
.confirmCircle {
    position: absolute;
    bottom: 12px;
    right: 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #b43d3b;
    outline: 3px solid black;
    box-shadow: 0px 0px 0px 2px #9c8a70;
    animation: spread 0.8s linear 0s infinite;
}
.fadeIn::after {
    animation: fadeIn 0.1s linear 0s 1 alternate forwards;
}
.confirmDialogContainer {
    background-color: #fee59a;
    border: 3px solid black;
    border-radius: 30px;
    position: absolute;
    top: 10%;
    right: -2%;
    height: 80%;
    width: 22.5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    animation: slideLeft 1s;
}
.confirmDialogSlideOut {
    transform: translateX(150%);
    transition: transform 0.5s;
}
.containerSlideOut {
    transform: translateY(100%);
    transition: transform 0.5s;
}
/*
這邊有一個比較tricky的地方
首先，z-index的作用，應該是要在元素們處於同一個position才有效果
所以我把before跟btnText都設定為absolute
但這樣會導致btn內的元素都已經跳脫定位，btn內沒有元素，height = 0
所以這邊我把btn的height設定為2.5rem，讓元素自動撐開
*/
.confirmDialogBtn {
    width: 80%;
    height: 2.5rem;
    margin: 0% 10%;
    position: relative;
}
.confirmDialogBtnText {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.confirmDialogBtn::before {
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 40%;
    background-color: #f4c36e;
    z-index: 0;
}
.confirmDialogBtnHoverEffect {
    animation: confirmDialogBtnHoverFrom 500ms, confirmDialogBtnHoverTo 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes confirmDialogBtnHoverFrom {
    0% {
        background-color: #9bd65b;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes confirmDialogBtnHoverTo {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #9bd65b;
    }
}
@keyframes slideLeft {
    0% { transform: translateX(100%) }
    100% { transform: none }
}
@keyframes spread {
    0% {
        border: 3px solid #b43d3b;
        outline: 3px solid black;
        height: 40px;
        width: 40px;
        box-shadow: 0px 0px 0px 2px #9c8a70;
    }
    100% {
        border: 5px solid #b43d3b;
        outline: 2px solid black;
        height: 42px;
        width: 42px;
        box-shadow: 0px 0px 2px 10px #d8c790;
    }
}
@keyframes slideUp {
    0%   { transform: translateY(100%) }
    100% { transform: none }
}
@keyframes fadeIn {
    0%   { left: 0% }
    100% { left: 100% }
}
@keyframes slideDown {
    0%   { transform: none }
    100% { transform: translateY(100%) }
}