.container {
    height: 100%;
    animation: slideUp 1s;
    outline: none;
}
.nameArea {
    width: 35%;
    height: 20%;
    margin-left: 5%;
    border-radius: 30px;
    border: 3px outset #222222;
    background-color: #fee59a;
    position: relative;
    top: 7.5%;
    z-index: 1;
}
.name {
    height: 100%;
    font-weight: bold;
    font-size: 2rem;
}
.messageArea {
    width: 95%;
    height: 75%;
    margin-left: 2.5%;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    flex-direction: column;
    position: relative;
    z-index: 0;
}
/* .message:nth-child(1)::after {
    animation: fadeIn 0.1s linear 0s 1 alternate forwards;
} */
.message {
    position: relative;
}
.message::after {
    content: '';
    color: #fee59a;
    background-color: #fee59a;
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    line-height: 2.5rem;
}
.confirmCircle {
    position: absolute;
    bottom: 12px;
    right: 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    border: 3px solid #b43d3b;
    outline: 3px solid black;
    box-shadow: 0px 0px 0px 2px #9c8a70;
    animation: spread 0.8s linear 0s infinite;
}
.fadeIn::after {
    animation: fadeIn 0.1s linear 0s 1 alternate forwards;
}
@keyframes spread {
    0% {
        border: 3px solid #b43d3b;
        outline: 3px solid black;
        height: 40px;
        width: 40px;
        box-shadow: 0px 0px 0px 2px #9c8a70;
    }
    100% {
        border: 5px solid #b43d3b;
        outline: 2px solid black;
        height: 42px;
        width: 42px;
        box-shadow: 0px 0px 2px 10px #d8c790;
    }
}
@keyframes slideUp {
    0%   { transform: translateY(100%) }
    100% { transform: none }
}
@keyframes fadeIn {
    0%   { left: 0% }
    100% { left: 100% }
}