.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: slideRight 1s;
}
.biggestSquare {
    width: min(calc(100vw / 12 * 5), 65vh);
    height: min(calc(100vw / 12 * 5), 65vh);
}
.guideImg {
    width: 100%;
    height: 100%;
}
.leave {
    animation: slideLeft 0.5s linear 0s 1 alternate forwards;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: none;
    }
}
@keyframes slideLeft {
    0% {
        transform: none;
    }
    100% {
        transform: translateX(-100%);
    }
}