:root {
  --bg-color: #fee59a;
  --sub-bg-color: #f4c36e;
  --hover-bg-color: #9bd65b;
  --border-color: #222222;
  --confirm-circle: #b43d3b;
  --larger-green: #09d131;
  --smaller-red: #db2121;

  /* experimental，還不確定這些case有沒有辦法cover所有的possibility */
  --main-border-radius: 1.5rem;
  --main-border-width: 0.2rem;
  --sub-border-width: 0.15rem;
  --font-size-325: 3.25rem;
  --font-size-300: 3rem;
  --font-size-275: 2.75rem;
  /* --default-
  --main-title: 3rem;
  --sub-title: 2.5rem;
  --title: 2rem;
  --small-title: 1.5rem; */
}
:root,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
/* #root {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #333333;
    position: relative;
} */
* {
  font-family: Microsoft JhengHei;
  font-weight: bold;
  box-sizing: border-box;
  outline: none;
  cursor: default;
}
g[data-type="dokapon.player"] {
  transition: transform 0.5s;
}
.selectedEffectGreenYellow {
  animation: greenToYellow 500ms, yellowToGreen 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes greenToYellow {
  0% {
    background-color: var(--hover-bg-color);
  }
  100% {
    background-color: var(--bg-color);
  }
}
@keyframes yellowToGreen {
  0% {
    background-color: var(--bg-color);
  }
  100% {
    background-color: var(--hover-bg-color);
  }
}
