.keyMappingDialogContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyMappingDialog {
  font-size: 3rem;
  line-height: 3rem;
  padding: 1rem;
}
