.selectNumberOfPlayersContainer {
  width: 65%;
  height: 80%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideIn 1s;
}
.btn {
  width: 80%;
  height: 5rem;
  margin-top: 3%;
  display: flex;
  padding-left: 5%;
  align-items: center;
  font-size: 3rem;
  border-radius: 9999px;
  border: 0.2rem outset var(--border-color);
  background-color: var(--bg-color);
}
.btnText {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}
.leave {
  animation: slideOut 1s;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

@keyframes slideOut {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(200%);
  }
}
