.container {
    position: relative;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    animation: slideLeft 0.5s linear;
}
.title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.bottom {
    flex-grow: 1;
}
.moneyBtnGroup {
    padding: 8px 20px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.durationBtnGroup {
    padding: 8px 20px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.unit {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 8px;
}
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}