.container {
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
    top: 0;
    left: 0;
    animation: slideLeft 1s;
}
.nameDisplayArea {
    width: 40%;
    height: 10%;
    position: relative;
    top: 5%;
    left: 56%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.keyboardArea {
    width: 90%;
    height: 80%;
    margin: auto;
    padding: 5vh 0%;
    display: flex;
    justify-content: space-evenly;
}
.keyboardSection {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}
.keyboardMenu {
    width: 15%;
    display: flex;
    flex-direction: column;
}
@keyframes slideLeft {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}