.btnGroup {
    width: 80%;
    height: 80%;
    margin: auto;
    flex-direction: column;
    outline: none;
    animation: slideLeft 1s;
}
.leave {
    animation: slideRight 1s;
}
@keyframes slideLeft {
    0% { transform: translateX(100%) }
    100% { transform: none }
}

@keyframes slideRight {
    0% { transform: none }
    100% {transform: translateX(200%) }
}