.container {
    width: 80%;
    height: 80%;
    margin: auto;
    outline: none;
    animation: slideLeft 1s;
}
.emptyArea {
    width: 60%;
}
.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.leave {
    animation: slideRight 1s;
}
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }   
}
@keyframes slideRight {
    0% {
        transform: none;
    }
    100% {
        transform: translateX(150%);
    }   
}