.btnGroup {
    width: 80%;
    height: 80%;
    margin: auto;
    flex-direction: column;
    outline: none;
    animation: slideIn 1s;
}
.btn {
    width: 80%;
    height: 15%;
    margin-top: 5%;
    display: flex;
    padding-left: 5%;
    align-items: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.btnText {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    letter-spacing: 1px;
}
.leave {
    animation: slideOut 1s;
}
@keyframes slideIn {
    0% { transform: translateX(100%) }
    100% { transform: none }
}

@keyframes slideOut {
    0% { transform: none }
    100% {transform: translateX(200%) }
}